body {
    margin: 0px;
    min-height: 100%;
    background-color: #E2F8FF;
}

/* Start of navigation bar */

.logo {
    height: 50px;
}

.navigation-bar {
    width: 100%;
    height: 50px;
    background-color: #093F6A; 
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.navigation-bar a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.logo {
    position: absolute;
    top: 0;
    left: 5px;
}

.navigation-button a {
    float: left;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 16px 16px;
}

.navigation-button a:hover {
    background-color: #E2F8FF;
    color: black;
}


@media screen and (min-width: 600px){
    .navigation-button a {
        padding: 16px 45px;
    }


}

@media screen and (min-width: 800px){
    .navigation-button a {
        padding: 41px 45px;
    }
    
    .navigation-bar {
        height: 100px;

    }

    .logo {
            height: 100px;
     }
}

/* End of navigation bar 

Start of footer */

footer {
    text-align: center;
    position: relative;
    display: flex;
    background-color: #093F6A;
    color: white;
    bottom:0;
    width:100%;
    height: 100px;
    }

.contact-info {
    width: 40%;
    float: left;
    margin: 0px 0px 0px 10px;
    
}

.links {
    width: 60%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.img-link {
    width: 40px;
    padding: 0px 5px;
}

footer h3 {
    margin: 15px 0px 0px 0px;
}

@media screen and (min-width: 600px){
    .img-link {
        width: 60px;
        padding: 0px 15px;
    }

}

/* End of footer
Start: homepage background photo of cats */

.background {
    width: 100%;
}

.background-cats {
    position: relative;
}

.background-cats h2 {
    font-size: 0.8em;
    margin: 5px 0px 0px 0px;
}

.background-cats p {
    font-size: 0.8em;
    margin: 0px;
}

.top-left {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  @media screen and (min-width: 600px){
    .background-cats h2 {
        font-size: 1em;
        margin: 10px 0px;
    }
    
    .background-cats p {
        font-size: 1em;
        margin: 0px;
    }
}

@media screen and (min-width: 800px){
    .background-cats h2 {
        font-size: 1em;
        margin: 30px 10px;
    }
    
    .background-cats p {
        font-size: 1em;
        margin: 10px;
    }
}