body {
    margin: 0px;
    min-height: 100%;
    background-color: #E2F8FF;
}

/* Start of navigation bar */

.logo {
    height: 50px;
}

.navigation-bar {
    width: 100%;
    height: 50px;
    background-color: #093F6A; 
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.navigation-bar a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.logo {
    position: absolute;
    top: 0;
    left: 5px;
}

.navigation-button a {
    float: left;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 16px 16px;
}

.navigation-button a:hover {
    background-color: #E2F8FF;
    color: black;
}


@media screen and (min-width: 600px){
    .navigation-button a {
        padding: 16px 45px;
    }


}

@media screen and (min-width: 800px){
    .navigation-button a {
        padding: 41px 45px;
    }
    
    .navigation-bar {
        height: 100px;

    }

    .logo {
            height: 100px;
     }
}

/* End of navigation bar 

Start of footer */

footer {
    text-align: center;
    position: relative;
    display: flex;
    background-color: #093F6A;
    color: white;
    bottom:0;
    width:100%;
    height: 100px;
    }

.contact-info {
    width: 40%;
    float: left;
    margin: 0px 0px 0px 10px;
    
}

.links {
    width: 60%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.img-link {
    width: 40px;
    padding: 0px 5px;
}

footer h3 {
    margin: 15px 0px 0px 0px;
}

@media screen and (min-width: 600px){
    .img-link {
        width: 60px;
        padding: 0px 15px;
    }

}

/* End of footer
Start: homepage background photo of cats */

.background {
    width: 100%;
}

.background-cats {
    position: relative;
}

.background-cats h2 {
    font-size: 0.8em;
    margin: 5px 0px 0px 0px;
}

.background-cats p {
    font-size: 0.8em;
    margin: 0px;
}

.top-left {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  @media screen and (min-width: 600px){
    .background-cats h2 {
        font-size: 1em;
        margin: 10px 0px;
    }
    
    .background-cats p {
        font-size: 1em;
        margin: 0px;
    }
}

@media screen and (min-width: 800px){
    .background-cats h2 {
        font-size: 1em;
        margin: 30px 10px;
    }
    
    .background-cats p {
        font-size: 1em;
        margin: 10px;
    }
}

@media screen and (min-width: 1000px){
    .top-left {

    font-size: 1.25em;
    margin: 20px;
    }



}

/* End of background photo.
Start of page content. */

.home-header {
    width: 100%;
    text-align: center;
}

.home-header h2 {
    margin: 5px 0px;
}

.home-header p {
    margin: 5px 0px;
}



/*Start of repeating element: home-container*/

.home-container {
    width: 100%;
    display: flex;
    margin: 20px 0px;
    height: 100px;
    justify-content: center;
}

.home-container-text {
    background-color: #B1E4F5;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    height: 100%;
}

.home-container-text h4 {
    margin: 5px;
    
}


.home-container-text h6 {
    margin: 5px;
}

.home-container-text p {
    margin: 0px 0px 0px 5px;
    font-size: 0.8em;
    width: 100%;
}

.home-container img {
    width: 100px;
    height: 100px;
}

.read-more-div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.read-more-button {
    background-color: #093F6A;
    color: white;
    font-weight: 650;
    align-items: flex-end;
    margin: 10px;
    text-decoration: none;
    outline: solid black 2px;
    margin-top: auto;
    padding: 2px;
}

/*End of home container.
Start of 'about' page*/

.banner {
    background-color: #2F5472; 
    color: white;
    text-align: center;
}

.about-container {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    text-align: center;
    justify-content: center;


}

.about-container-contents {
    background-color: #B1E4F5;
    width: 90%;
    height: 100%;
}

.about-container-contents h4 {
    margin: 5px;
    
}

.about-container-contents h6 {
    margin: 5px;
}

.about-container-contents p {
    margin: 10px;
    font-size: 0.8em;
}

.about-container-contents img {
    width: 100px;
    height: 100px;
    margin: 0px 10px 10px 0px;
}

.share-space {
    display: flex;
    align-items: center;
}

/* End of 'about' page.
Start of 'Blog' page. */

.blog-container {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.blog-container-contents {
    background-color: #B1E4F5;
    width: 90%;
    height: 100%;
}

.blog-container-contents h4 {
    margin: 5px;
}

.blog-container-contents h6 {
    margin: 5px;
}

.blog-container-contents p {
    margin: 10px;
    font-size: 0.8em;
}

.blog-container-contents img {
    width: 100px;
    height: 100px;
    margin: 0px 10px 10px 0px;
}

.shared-title-space {
    display: flex;
    justify-content: space-between;
}



@media screen and (min-width: 800px){
    .shared-paragraph-photo {
        display: flex;
        position: relative;
    }

    .shared-paragraph-photo img {
    width: 150px;
    height: 150px;
    }

}


/* End of Blog.
Start of Projects [some shared from above] */

.banner-projects {
    background-color: #2F5472; 
    color: white;
    text-align: center;
}

.projects-projects h2 {
    padding: 10px;
}

.projects-container {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.projects-container-contents {
    background-color: #B1E4F5;
    width: 90%;
    height: 100%;
}

.projects-container-contents h4 {
    margin: 5px;
}

.projects-container-contents h6 {
    margin: 5px;
}

.projects-container-contents p {
    margin: 10px;
    font-size: 0.8em;
}

.projects-container-contents img {
    width: 100px;
    height: 100px;
    margin: 0px 10px 10px 0px;
}